@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-size: contain;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cornflowerblue;
  height: 50px;
}

.logo {
  font-size: 25px;
  margin-left: 10px;
  font-weight: bold;
}

.navMenu {
  padding-right: 10px;
}

.navMenu > a {
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.container {
  width: 100vw;
  height: 100vh;
}

.wrapperBlog {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 20px;
  width: 100vw;
  overflow-x: hidden;
}

.imageTitle {
  display: flex;
  gap: 25px;
  align-items: center;
}

.wrapperBlog > .imageTitle > .image {
  flex: 1;
  width: 100%;
}

.wrapperBlog > .imageTitle > .image > img {
  border-radius: 6px;
  width: 100%;
}

.wrapperBlog > .imageTitle > .title {
  flex: 1;
  width: 100%;
}
.wrapperBlog > .imageTitle > .title > h1 {
  font-size: 64px;
}

.detailBlog {
  margin-top: 20px;
}
